chrom_cap: 35000
class_by_year: false
classifier: PAC
color_by_country: false
color_by_origin: false
color_by_winery: false
constant_ohe: false
cv_type: LOO
datasets:
  bordeaux_oak: /home/luiscamara/Documents/datasets/3D_data/BORDEAUX_OAK_PAPER/OAK_WOOD/
  cab_sauv_2021: /home/luiscamara/Documents/datasets/3D_data/PRESS_WINES/Esters21/CABERNET/
  cab_sauv_2022: /home/luiscamara/Documents/datasets/3D_data/PRESS_WINES/Esters22/CABERNET/
  cab_sauv_2023: /home/luiscamara/Documents/datasets/3D_data/PRESS_WINES/Esters23/CABERNET/
  merlot_2021: /home/luiscamara/Documents/datasets/3D_data/PRESS_WINES/Esters21/MERLOT/
  merlot_2022: /home/luiscamara/Documents/datasets/3D_data/PRESS_WINES/Esters22/MERLOT/
  merlot_2023: /home/luiscamara/Documents/datasets/3D_data/PRESS_WINES/Esters23/MERLOT/
  pinot_noir_changins: /home/luiscamara/Documents/datasets/3D_data/PINOT_NOIR/Changins/220322_Pinot_Noir_Tom_CDF/
  pinot_noir_isvv_dllme: /home/luiscamara/Documents/datasets/3D_data/PINOT_NOIR/ISVV/DLLME_SCAN/
  pinot_noir_isvv_lle: /home/luiscamara/Documents/datasets/3D_data/PINOT_NOIR/ISVV/LLE_SCAN/
density_plot: false
do_classification: false
downsample_group: true
exclude_us: false
feature_type: best_channel
flip_axes: true
global_focus_heatmap: true
group_wines: false
invert_x: false
invert_y: false
label_target: prod area
label_targets:
- age
n_decimation: 10
n_neighbors: 30
normalize: true
num_repeats: 10
num_splits: 1
plot_all_tests: false
plot_projection: false
plot_r2: false
plot_shap: false
plot_umap: scores
projection_dim: 2
projection_method: UMAP
projection_source: scores
random_state: 42
reduce_dims: false
reduction_dims: 2
reduction_method: pca
region: origin
regressor: null
remove_avg_scores: false
retention_time_range:
  max: 30000
  min: 0
rot_axes: false
rt_range:
  max: 30000
  min: 0
sample_display_mode: names
selected_attribute: nuts
selected_datasets:
- pinot_noir_changins
show_age_histogram: false
show_champ_predicted_profiles: showChampPredictedProfiles
show_chromatograms: false
show_confusion_matrix: false
show_pred_plot: false
show_predicted_profiles: false
show_sample_names: false
shuffle_labels: false
sync_state: false
taster_focus_heatmap: false
taster_scaling: false
taster_vs_mean: false
test_average_scores: true
umap_dim: 2
umap_source: tic_tis
